*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:'segor UI',sans-serif;
    background-color: #f2f2f2;
}
header{
    background-color: #2f8d46;
    color: white;
    padding: 15px 0;
}

.container{
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.logo{
    font-size: 24px;
    font-weight: bold;
}
.search-box{
    padding: 7px 10px;
    border: none;
    border-radius:4px;
    width: 200px;

}
nav{
    background-color: #3cb371;

}
.nav-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 10px 0;

}
.nav-links l1{
    margin: 0 15px;
}
.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: 500;
}    

.hero{
    background-color: #e7f7ef;
    text-align: center;
    padding: 60px 20px;
}
.hero h1{
    font-size: 36px;
    color: #2f8d46;
    margin-bottom: 10px;
}
.hero p{
    font-size: 18px;
    color: #333;
}

.content{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap:20px;
    padding: 40px 20px;
}
.card{
    background:white;
    width:300px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card h2{
    color: #2f8d46;
    margin-bottom: 10px;
}
footer{
    background-color: #2f8d46;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

@media(max-width:768px) {
    .container{
        flex-direction: column;
        gap:10px;
        align-items: flex-start;
    }
    .search-box{
        width:100%;
    }
    .nav-links{
        flex-direction: column;
        align-items: center;
    }
    .nav-links li{
        margin: 10px 0;
    }
    .hero h1{
        font-size:28px;
    }
    .card{
        width:100%;
        max-width: 90%;
    }   
}
